pipeline/ADF102-OnPremToSyn_Inc_Loading.json
{
	"name": "ADF102-OnPremToSyn_Inc_Loading",
	"properties": {
		"activities": [
			{
				"name": "Lookup from OnPremise Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from dbo.aw_lookup",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerDS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoadToDataLake",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup from OnPremise Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup from OnPremise Table').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Local - DL - POOL DB Staging",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlPoolSink",
									"allowCopyCommand": true,
									"tableOption": "autoCreate"
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "AzureDataLakeStorageLS",
										"type": "LinkedServiceReference"
									},
									"path": "synapsecontainer"
								}
							},
							"inputs": [
								{
									"referenceName": "sqlServerDSWithParam",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().Src_schema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().Src_table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "pool_ds",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@concat('stg_',item().Src_schema)",
											"type": "Expression"
										},
										"table": "@item().Src_table"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}